body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem  3rem;
    background-color:maroon;

}
header h1 {
    margin: 0;
    color: white;
}

header h1 span{
    color: rgb(236, 236, 16);
}
nav a {
    padding: 4rem 2rem;
    text-decoration: none;
    color: white;

}
nav a svg{
    fill: white;
}

nav a:hover {
    color: rgb(236, 236, 16);
}

nav a svg:hover {
    fill: rgb(236, 236, 16);
}
.hero-section{
    background-image: url(Hero-section.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:10rem 10rem;
}
.hero-section h3{
    font-size: 25px;
}
.hero-section h1{
    font-size: 40px;
}
.hero-section h3 span{
    color: #e6303d;
}
.hero-section button{
    padding: 0.5rem 2rem;
    border: none;
    background-color:#e6303d;
    
}
.winter-collection{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;

}
.men-collection{
    background-image: url(for\ men.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    padding: 9rem 4rem;
    margin-left: 3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    color: white;

}



.men-collection:hover{
    transform: scale(1.1);
}
.women-collection{
    background-image: url(for\ women.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    padding: 9rem 4rem;
    margin-left: 3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    color: white;

}

.women-collection:hover{
    transform: scale(1.1);
}
.kids-collection{
    background-image: url(for\ kids.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    padding: 9rem 5rem;
    margin-left: 3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    color: white;

}

.kids-collection:hover{
    transform: scale(1.1);
}
.accessories{
    background-image: url(for\ accessories.avif);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    padding: 9rem 5rem;
    margin-left: 3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    color: white;

}

.accessories:hover{
    transform: scale(1.1);
}

.new-product{
    text-align: center;
    margin-top: 4rem;
    text-decoration: underline red;
}

.card-collection{
    display: flex;
    gap: 20px;
    padding: 35px;
    margin-left: 80px;

}

.card1{
    background-image: url(card-image1.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card1 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(13, 150, 13, 0.689);
    color: white;
    font-weight: lighter;
    padding: 2px 14px;
}
.card1 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card1 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card1:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}
.card2{
    background-image: url(card-image2.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card2 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(226, 20, 20, 0.742);
    color: white;
    font-weight: lighter;
    padding: 2px 16px;
}
.card2 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card2 del{
    position: absolute;
    bottom: 75px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
.card2 span{
    position: absolute;
    bottom: 75px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card2:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card3{
    background-image: url(card-image3.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card3 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(13, 150, 13, 0.689);
    color: white;
    font-weight: lighter;
    padding: 2px 14px;
}
.card3 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card3 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card3:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}
.card4{
    background-image: url(card-image4.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card4 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(13, 150, 13, 0.689);
    color: white;
    font-weight: lighter;
    padding: 2px 14px;
}
.card4 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card4 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card4:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.add-to-cart{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 0px;
    width: 100%;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.6rem 2.2rem;
    color:white;
    border: none;
    background-color:rgba(232, 10, 10, 0.936)
}

.add-to-cart:hover{
    cursor: pointer;
    background-color: black;
}

.card1:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card2:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card3:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card4:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    padding: 2rem 6rem;
    background-color: rgba(184, 181, 181, 0.566);
}
.box-icons{
    text-align: center;
}
.box-icons svg{
    fill: red;
}
.box-icons h2{
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.box-icons h2:hover{
    color: #e6303d;
}
.sale-collection{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 20px;
    padding: 35px;
    margin-left: 40px;

}

.card5{
    background-image: url(card-image5.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card5 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(226, 20, 20, 0.742);
    color: white;
    font-weight: lighter;
    padding: 2px 16px;
}
.card5 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card5 del{
    position: absolute;
    bottom: 75px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
.card5 span{
    position: absolute;
    bottom: 75px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card5:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card6{
    background-image: url(card-image6.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card6 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(13, 150, 13, 0.689);
    color: white;
    font-weight: lighter;
    padding: 2px 14px;
}
.card6 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card6 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card6:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card7{
    background-image: url(card-image7.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}


.card7 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card7 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card7:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card8{
    background-image: url(card-image8.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card8 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(226, 20, 20, 0.742);
    color: white;
    font-weight: lighter;
    padding: 2px 16px;
}
.card8 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card8 del{
    position: absolute;
    bottom: 75px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
.card8 span{
    position: absolute;
    bottom: 75px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card8:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}
.card9{
    background-image: url(card-image9.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card9 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(226, 20, 20, 0.742);
    color: white;
    font-weight: lighter;
    padding: 2px 16px;
}
.card9 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card9 del{
    position: absolute;
    bottom: 75px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
.card9 span{
    position: absolute;
    bottom: 75px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card9:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card10{
    background-image: url(card-image10.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card10 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(13, 150, 13, 0.689);
    color: white;
    font-weight: lighter;
    padding: 2px 14px;
}
.card10 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card10 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card10:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card11{
    background-image: url(card-image11.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}


.card11 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card11 span{
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card11:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.card12{
    background-image: url(card-image12.jpg);
    background-position:5px 60px;
    background-size:contain;
    background-repeat: no-repeat;
    width:240px;
    height: 450px;
    border:2px solid black;
    position: relative;
}
.card12 h2{
    position: absolute;
    top:0px;
    left:10px;
    background-color:rgba(226, 20, 20, 0.742);
    color: white;
    font-weight: lighter;
    padding: 2px 16px;
}
.card12 p {
    position: absolute;
    bottom:100px;
    width: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
    font-weight: 500;
}
.card12 del{
    position: absolute;
    bottom: 75px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
.card12 span{
    position: absolute;
    bottom: 75px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    font-weight:700;
}
.card12:hover{
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}
.card5:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card6:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card7:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card8:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card9:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card10:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card11:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}
.card12:hover .add-to-cart{
    visibility: visible;
    opacity: 1;
}


.social-icons{
    padding: 2rem 4rem;
    display: flex;
    justify-content:space-evenly;
    margin-top: 2rem;
      background-color:  rgba(184, 181, 181, 0.301);
}
.icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.heading{
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.icons svg{
    width: 20px;
    height: 30px;
}

.email-btn{
    position: relative;
}
#email{
    padding:0.5rem;
    width: 300px;
}
.btn{
    padding: 0.63rem;
    position: absolute;
    top:0;
    right: 0;
    background-color: #e6303d;
    cursor: pointer;
    border: none;

}

.icons svg:hover{
    fill: blue;
}

footer{
    display: flex;
    justify-content:space-around;
    padding: 4rem;
    padding-right: 9rem;
    padding-left: 6rem;
}
ul{
    list-style: none;
}
.div1{
    line-height: 2rem;
    font-size: 18px;
    cursor: pointer;
}
.div2{
    line-height: 2rem;
    font-size: 18px;
    cursor: pointer;
}
.div3{
    line-height: 2rem;
    font-size: 18px;
    cursor: pointer;
}

.div4 {
    line-height: 2rem;
    font-size: 17px;
    cursor: pointer;
}
 
.div4 ul a {
    font-size: 1.8rem;
    font-weight: bold;
}

.div4 ul a span{
    color:maroon;
}
footer ul li:hover{
    color: #e6303d;
}