* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(114, 187, 226);
    padding: 15px;

}

#nav-bar {
    direction: flex;
    text-align: center;
    padding: 10px;

}

#nav-bar a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

#nav-bar a:hover {
    color: blue;
}

#button {
    width: 80px;
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lavender;
    cursor: pointer;

}

#button:hover {
    background-color: rgb(184, 184, 225);
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    background-color: rgb(174, 247, 247);
}

#left-side {
    width: 400px;
    margin-left: 50px;
}

#right-side {
    margin-right: 70px;
}

#left-side h1 {
    font-size: 50px;
    line-height: 70px;
    color: navy;
}

#left-side h3 {
    font-size: 25px;
    color: black;
}

#left-side p {
    line-height: 18px;
    width: 200px;
}

#right-side img {
    border-radius: 7px;
}

.section2 {
    background-color: rgb(174, 247, 247);
    display: flex;

}

.h1div {
    background-color: rgb(174, 247, 247);
}

#aboutme {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 10px 5px;
    width: 250px;
    text-align: center;
    margin-left: 500px;
    border-radius: 8px;
}

#left h2 {
    margin-top: 70px;
    margin-left: 120px;
    font-size: 40px;
    width: 380px;
    color: darkblue;
}

#left p {
    width: 400px;
    margin-left: 120px;
    line-height: 17px;
    margin-top: 8px;
}

#left ul {
    margin-left: 120px;
    margin-top: 10px;
    list-style: none;
    line-height: 30px;
}

#right {
    display: flex;
    flex-direction: column;
}

#img1 img {
    width: 80px;
    height: 80px;
    margin-left: 150px;
    margin-top: 100px;

}

#img1 span {

    font-weight: bold;
    margin-left: 185px;
}

#img1 p {
    margin-left: 136px;
}

#img2 img {
    width: 80px;
    height: 80px;
    margin-left: 150px;
    margin-top: 70px;

}

#img2 span {

    font-weight: bold;
    margin-left: 185px;
}

#img2 p {
    margin-left: 136px;
}

#right-section {
    margin-bottom: 130px;
}

#img3 img {
    width: 80px;
    height: 80px;
    margin-left: 150px;
    margin-top: 100px;

}

#img3 span {

    font-weight: bold;
    margin-left: 185px;
}

#img3 p {
    margin-left: 136px;
}

#img4 img {
    width: 70px;
    height: 70px;
    margin-left: 150px;
    margin-top: 80px;

}

#img4 span {

    font-weight: bold;
    margin-left: 185px;
}

#img4 p {
    margin-left: 136px;
}

#services {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 8px 3px;
    width: 230px;
    text-align: center;
    margin-left: 500px;
    border-radius: 6px;


}

#section3 {
    background-color: rgb(174, 247, 247);
    padding-bottom: 100px;

}

#upcard {
    display: flex;
    padding-top: 50px;
    flex-direction: row;
}

#downcard {
    display: flex;
    padding-top: 50px;
    flex-direction: row;


}

#card1 {
    background-color: navy;
    margin-left: 120px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#card1 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card1 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card1 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card2 {
    background-color: navy;
    margin-left: 50px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;

}

#card2 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card2 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card2 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card3 {
    background-color: navy;
    margin-left: 50px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;

}

#card3 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card3 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card3 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card4 {
    background-color: navy;
    margin-left: 50px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-right: 120px;

}

#card4 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card4 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card4 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card5 {
    background-color: navy;
    margin-left: 120px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;

}

#card5 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card5 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card5 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card6 {
    background-color: navy;
    margin-left: 50px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;



}

#card6 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card6 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card6 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card7 {
    background-color: navy;
    margin-left: 50px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;


}

#card7 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card7 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card7 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#card8 {
    background-color: navy;
    margin-left: 50px;
    border-radius: 8px;
    width: 230px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-right: 120px;

}

#card8 img {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 15px;
}

#card8 h3 {
    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

#card8 p {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

#project {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 8px 3px;
    width: 200px;
    text-align: center;
    margin-left: 500px;
    border-radius: 6px;


}

.section4 {
    background-color: rgb(174, 247, 247);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 50px;
    padding: 40px 100px;
}


.div1 img{
    height: 300px;
    width: 300px;
    border: 2px  solid black;
}
.div1{
    position: relative;
}
.div1 span{
    position: absolute;
    bottom:15px;
    right: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px 2px;
}

.div2 img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
}
.div2{
    position: relative;
}
.div2 span{
    position: absolute;
    bottom:15px;
    right: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px 2px;
}


.div3 img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.div3{
    position: relative;
}
.div3 span{
    position: absolute;
    bottom:15px;
    right: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px 2px;
}
.div4 img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
}
.div4{
    position: relative;
}
.div4 span{
    position: absolute;
    bottom:15px;
    right: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px 2px;
}
.div5 img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.div5{
    position: relative;
}
.div5 span{
    position: absolute;
    bottom:15px;
    right: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px 2px;
}
.div6 img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.div6{
    position: relative;
}
.div6 span{
    position: absolute;
    bottom:15px;
    right: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px 2px;
}

footer {
    background:rgb(114, 187, 226);
    color:black;
    padding: 30px 20px;
    text-align: center;
}

footer a {
    color: rebeccapurple;
    text-decoration: none;
    margin: 0 10px;
}